body {
  background-color: #1a1a1a;
  color: #ffffff;
}

.paymentStatus {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  width: 30vw;
  min-width: 500px;
  min-height: 380px;
  align-self: center;
  box-shadow: 0px 0px 0px 0.5px rgba(255, 255, 255, 0.1), 0px 2px 5px 0px rgba(255, 255, 255, 0.1), 0px 1px 1.5px 0px
    rgba(255, 255, 255, 0.07);
  border-radius: 7px;
  padding: 40px;
  opacity: 0;
  animation: fadeInAnimation 1s ease forwards;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #2a2a2a;
}

.statusIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #00cc96;
}

.statusText {
  margin: 0;
  color: #ffffff;
  text-align: center;
}

.detailsTable {
  overflow-x: auto;
  width: 100%;
}

.table {
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;
}

.table tbody tr:first-child td {
  border-top: 1px solid #444444;
  padding-top: 10px;
}

.table tbody tr:last-child td {
  border-bottom: 1px solid #444444;
}

.table td {
  padding-bottom: 10px;
}

.tableContent {
  text-align: right;
  color: #b0b0b0;
}

.tableLabel {
  font-weight: 600;
  color: #ffffff;
}

.viewDetails {
  color: #00cc96;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  font-family: Arial, sans-serif;
  display: block;
}

.viewDetails:hover {
  filter: brightness(120%);
}

.retryButton {
  text-align: center;
  background: #00cc96;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
  padding: 12px 16px;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  font-family: Arial, sans-serif;
  cursor: pointer;
}

.retryButton:hover {
  filter: brightness(110%);
}

@keyframes fadeInAnimation {
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .paymentStatus {
    width: 80vw;
    min-width: initial;
  }
}

